.App {
    text-align: center;
}
form {
    display: flex;
    align-items: center;
}

input {
    text-align: center;
    height: 35px;
    width: 200px;
    outline: none;
    border: none;
    font-size: 20px;
}
button {
    margin-left: 15px;
    height: 37px;
    outline: none;
    border: none;
    width: 100px;
    background-color: rgb(224, 210, 78);
    font-size: 20px;
}
.rows {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.gray {
    color: gray;
}
h2 {
    position: fixed;
    top: 0;
    left: 100px;
}
.button-prev {
    align-self: start;
}
.button-next {
    align-self: flex-end;
}
.button-true {
    align-self: start;
    background-color: #8bc34a;
}
.button-false {
    align-self: flex-end;
    background-color: #ff5b55;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App-link {
    color: #61dafb;
}
.text {
    height: 100px;
}
